@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Initium Solutions
    </h1>
    <p>Learn about <a href="https://www.initium-me.com/">
        Company 
        Website</a></p>
</div>
